.project
.settings
.classpath
.metadata
*.xls
*.png
src/resourses/chromedriver.exe
src/resourses/QA report.html
src/resourses/phantomjs.exe
src/resourses/*.xls
bin/MemberCredits.en-GB.xls
bin/Employees.en-GB.xls